<div class="container">
  <div class="row">
    <h2>Time Line</h2>
<% if @usertweet %>

  <% @usertweet.each do |t| %>
  <% Tweet.where(:tweet_id => t.tweet_id).each do |c| %>
  <% User.where(:id => c.user_id).each do |u| %>
  <div class="qa-message-list" id="wallmessages">
            <div class="message-item" id="m16">
              <div class="message-inner">
                <div class="message-head clearfix">
                  <div class="avatar pull-left"></div>
                  <div class="user-detail">
                    <h5 class="handle"><%= u.name%></h5>
                    <div class="post-meta">
                      <div class="asker-meta">
                        <span class="qa-message-what"></span>
                        <span class="qa-message-when">
                          <span class="qa-message-when-data"><%= t.created_at.strftime("%b %d,%Y %R") %></span>
                        </span>
                        <span class="qa-message-who">
                          <span class="qa-message-who-pad">by </span>
                          <span class="qa-message-who-data"><%= u.name %></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="qa-message-content">
                <%= c.message %>
              </div>
              </div>
            </div>
  </div>
  <% end %>
  <% end %>
   <% end %>
   <% end %>

  
</div>
